.propertyCard {
  background: white;
  width: 80%;
  margin-left: 7%;
  border-radius: 22px;
  box-shadow: 10px 10px 5px #aaaaaa;
  margin-bottom: 4%;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 5%;
}
h1 {
  color: #80050c;
}
.addImages {
  width: 30%;
  margin-left: 2%;
  margin-top: 4%;
  padding-bottom: 3%;
}
/* .addedImage {
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #cccccc;
} */
/* .previewImage {
  display: none;
  width: 100%;
} */
.addDetails {
  width: 70%;
}
.label {
  cursor: pointer !important;
}
.imageDiv img {
  width: 88%;
  /* height: 51%; */
  margin-top: 2%;
}
.image-upload {
  cursor: pointer;
}
.setImage {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* cursor: pointer; */
}
#adjustHeight {
  height: 100px;
}
#rating {
  width: 13% !important;
  padding: 1.7% !important;
  margin-bottom: 1%;
  margin-top: 2%;
  border-radius: 12px;
  background: white;
  margin-right: 4%;
  border: 1.5px solid #a2a0a0;
}
#contact {
  width: 30%;
  /* margin-left: 10%; */
}
#WAcontact {
  width: 29%;
}
#choose {
  margin-left: 3%;
}
.imageDiv {
  margin-left: 22%;
  width: 63% !important;
  height: 100% !important;
}
.insideAddImages {
  height: 100% !important;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
}
.imageHeight {
  height: 100% !important;
}
.imageHeight ::placeholder {
  color: grey !important;
}
.imageHeight input {
  margin-left: 17%;
  width: 65%;
  padding: 2%;
  padding: 2%;
  margin-bottom: 1%;
  margin-top: 2%;
  border-radius: 12px;
  border: 1px solid #a2a0a0;
}
.setImage input {
  display: none;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  margin-left: 8%;
  margin-right: 19%;
  margin-top: 5%;
}
.detailsContainer input {
  /* margin-left: 4%; */
  padding: 2%;
  margin-bottom: 1%;
  margin-top: 2%;
  border-radius: 12px;
  border: 1px solid #a2a0a0;
}
textarea {
  padding: 2%;
  margin-bottom: 1% !important;
  margin-top: 2% !important;
  border-radius: 12px;
  border: 1px solid #a2a0a0;
}
.detailsContainer ::placeholder {
  /* font-weight: 100 !important; */
  color: grey !important
  ;
}
.facilities1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 2%;
  margin-left: 8%;
}
.ContainerTwo {
  display: flex;
  flex-direction: row;
  margin-top: -2%;
}
.firstHeading {
  padding: 3%;
}
.submit {
  margin-left: 8%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.submit button {
  padding: 1.5% 2.3%;
  font-size: 16px;
  background: #80050c;
  color: white;
  border: none;
}
.inputError {
  border: 1px solid red !important;
}
.noError {
  border: 1px solid grey;
}
.ratingAndContact {
  margin-left: 8%;
}
.ratingAndContact input {
  padding: 2%;
  margin-bottom: 1%;
  margin-right: 3%;
  margin-top: 2%;
  border-radius: 12px;
  border: 1px solid #a2a0a0;
}
.ratingAndContact select {
  padding: 2% !important;
  margin-bottom: 1%;
  margin-top: 2%;
  border-radius: 12px;
  border: 1px solid #a2a0a0;
  background: white;
  width: 9% !important;
  margin-right: 5%;
}
.ratingAndContact input::placeholder {
  color: grey !important;
}
.F1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  /* margin-left: -11%; */
  width: 100%;
}
.F2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  /* margin-left: -10%; */
  width: 100%;
}
.F3 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  /* margin-left: -10%; */
  width: 100%;
}
.F1 input,
.F2 input,
.F3 input {
  margin-right: 5%;
}
.F1 label,
.F2 label,
.F3 label {
  width: 100% !important;
}
/* Room css */
