.sectionTwo {
  background: white;
  width: 80%;
  margin-left: 7%;
  border-radius: 22px;
  box-shadow: 10px 10px 5px #aaaaaa;
  margin-bottom: 4%;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 5%;
}
.setroomImage {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  /* cursor: pointer; */
}
.labelRoom {
  cursor: pointer !important;
}
/* #chooseRoom,
  .imageDivRoom {
    margin-left: 3%;
  } */
/* .imageDivRoom img {
  width: 100%;
  height: 100%;
  margin-top: 5%;
} */
.roomDivide {
  display: flex;
  margin-bottom: 5% !important;
}
.roomImage {
  /* width: 30%; */
  width: 30%;
  margin-left: 2%;
  margin-top: 4.5%;
  padding-bottom: 3%;
}
.roomDataOne {
  width: 70%;
  margin-bottom: 6%;
}
.roomData {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  margin-left: 8%;
  margin-right: 19%;
  margin-top: 5%;
}
.roomData input {
  padding: 2%;
  margin-bottom: 1%;
  margin-top: 2%;
  border-radius: 12px;
  border: 1px solid #a2a0a0;
}
.roomData select {
  width: 43% !important;
  padding: 2% !important;
  margin-bottom: 1%;
  margin-top: 2%;
  border-radius: 12px;
  background: white;
  border: 1.5px solid #a2a0a0;
}
.roomDataOne ::placeholder {
  color: grey !important;
}
#adjustHeight {
  height: 100px;
}
.submit {
  margin-left: 8%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.submit button {
  padding: 1.5% 2.3%;
  font-size: 16px;
  background: #80050c;
  color: white;
  border: none;
}
.inputError {
  border: 1px solid red !important;
}
.noError {
  border: 1px solid grey;
}
/* njkjk */
.insideAddImagesRoom {
  height: 100% !important;
  display: grid;
  grid-template-rows: 50% 50%;
}
.imageHeightRoom {
  height: 100% !important;
}
.imageHeightRoom ::placeholder {
  color: grey !important;
}
.imageHeightRoom input {
  margin-left: 7%;
  width: 100%;
  padding: 2%;
  padding: 2%;
  margin-bottom: 1%;
  margin-top: 0%;
  border-radius: 12px;
  border: 1px solid #a2a0a0;
}
.imageDivRoom img {
  width: 100%;
  margin-top: 2%;
}
.imageDivRoom {
  margin-left: 7%;
  width: 100% !important;
  /* height: 71% !important; */
}
.AddNewRoom {
  margin-left: 8%;
  font-size: 17px;
}
.addPriceDiv {
  margin-left: 8%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.addPriceDiv button {
  padding: 1.5% 2.3%;
  font-size: 16px;
  background: #80050c;
  color: white;
  border: none;
}
.foodPriceData,
.dateData {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: 8%;
}
.foodPriceData input,
.dateData input {
  padding: 2%;
  margin-bottom: 1%;
  margin-top: 2%;
  border-radius: 12px;
  border: 1px solid #a2a0a0;
}
.foodPriceData .e-input-group {
  width: 19%;
  margin-top: 2%;
  margin-left: 0%;
  background: white !important;
  border: 1px solid grey !important;
  border-radius: 12px !important;
}
#priceTwo,
#priceOne {
  margin-left: 10%;
}
